<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
        <title>alessandra.bilardi.net</title>
 	      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="author" lang="it" content="Alessandra Bilardi" />
        <meta name="description" content="Alessandra Bilardi Home Page" />
        <meta name="keywords" content="bioinformatic,images manipulation, image, jpg, gif, png, gimp, linux, digital, art, comics, alessandra, bilardi, blog, service, it development, framework" />
        <meta name="revised" content="Alessandra Bilardi,22-06-2008" />
        <meta name="robots" content="all" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="shortcut icon" href="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/favicon.ico" type="image/x-icon" />
</head>
<body>
<div class="top">
		<div class="img"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/myDNAlogo.jpg" alt="Alessandra Bilardi logo"/></div>
		<div class="img"><a href="http://www.riviera-brenta.it/eng/"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/italy.png" alt="land Italy" border="0"/></a></div>
	 <div class="img"><a href="http://en.wikipedia.org/wiki/Glider_(Conway%27s_Life)"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/glider.3d.png" alt="Glider 3D" border="0"/></a></div>
	 <div class="img"><a href="http://en.wikipedia.org/wiki/Hacker_Emblem"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/glider.png" alt="Hacker emblem" border="0"/></a></div>
<div class="content">
	 <div class="left">
	   <div class="img">
		    <br/>about me
		    <br/><a href="http://www.linkedin.com/in/bilardi"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/mylinkedin.png" border="0" alt="My professional profile" /></a>
						<br/><a href="https://stackoverflow.com/users/story/1472538"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/my.stack.png" border="0" alt="My Stack Overflow" /></a>
				  <br/><a href="https://github.com/bilardi"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/mygithub.png" border="0" alt="My GitHub profile" /></a>
		    <br/><a href="http://en.wikipedia.org/wiki/User:Bilardi"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/mywikipedia.png" border="0" alt="My Wikipedia user profile" /></a>
		    <br/>
	   </div>
	   <div class="img">
		    <br/>my sites
		    <br/><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/bilardiorg.png" border="0" alt="Bilardi family tree" />		<br/><a href="http://gbrowse.org/"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/gbrowseorg.png" border="0" alt="My GBrowse contribute" /></a>
		    <br/><a href="http://www.pandle.net/"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/pandle.net.png" border="0" alt="Playing AND Learning" /></a>
		    <br/><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/pandle.org.png" border="0" alt="Playing AND Learning No Profit Organization" />		<br/>
	   </div>
	   <div class="img">
		    <br/>in this site
		    <br/><a href="http://alessandra.bilardi.net/bookmarks"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/mybookmark.png" border="0" alt="My Bookmarks" /></a>
		    <br/><a href="http://comics.bilardi.net/"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/mycomics.png" border="0" alt="My Comics" /></a>
		    <br/><a href="http://download.bilardi.net/download/"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/mydownload.png" border="0" alt="My Download" /></a>
		    <br/><a href="http://ltrmenuplus.bilardi.net/"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/mywikiskin.png" border="0" alt="ltrMenuPlus skin" /></a>
		    <br/>
	   </div>
	   <div class="img">
		    <br/>powered by
		    <br/><a href="http://www.debian.org"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/debian.linux.png" border="0" alt="Powered by Debian server" /></a>
		    <br/><a href="http://www.gnu.org"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/emacs.editor.png" border="0" alt="Edit by Emacs" /></a>
		    <br/><a href="http://www.gimp.org"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/gimp.png" border="0" alt="Graphics by Gimp" /></a>
		    <br/><a href="http://www.kalsey.com/tools/buttonmaker/"><img src="https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/alessandra/index/buttonmaker.png" border="0" alt="Create Button Maker" /></a>
		    <br/>
	   </div>
		  <div class="bottom">
		    <br/>Copyright&nbsp;2007-{{ 'now' | date: "%Y" }}&nbsp;by&nbsp;<a href="http://about.me/alessandra.bilardi">Alessandra&nbsp;Bilardi</a>.&nbsp;All&nbsp;rights&nbsp;reserved.&nbsp;&nbsp;<!-- Begin Shinystat Free code --><script type="text/javascript" language="JavaScript" src="https://codice.shinystat.com/cgi-bin/getcod.cgi?USER=bilardi"></script><noscript><a href="https://www.shinystat.com" target="_top"><img src="https://www.shinystat.com/cgi-bin/shinystat.cgi?USER=bilardi" alt="Blog counters" border="0"/></a></noscript><!-- End Shinystat Free code --><br/><br/>
		  </div>
	 </div>
	 <div class="right">
	 </div>
</div>
</body>
</html>
